body {
  background-image: url("./bg.png");
  background-size: 360px 180px;
  background-color: azure;
  background-position: center;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: calc(env(safe-area-inset-top, 0px) + 0.5rem)
    calc(env(safe-area-inset-right, 0px) + 2ch)
    calc(env(safe-area-inset-bottom, 0px) + 0.5rem)
    calc(env(safe-area-inset-left, 0px) + 2ch);
}

body::before {
  content: "";
  display: block;
  position: fixed;
  pointer-events: none;
  inset: 0;
  border: cadetblue 6px solid;
}

.Inset0 {
  max-width: max-content;
  border-bottom: cadetblue 6px solid;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  pointer-events: none;
  inset: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  border: orange 6px dashed;
}

.SafeAreaInset {
  max-width: max-content;
  border-bottom: orange 6px dashed;
}

.Browser {
  display: block;
}

.WebApp {
  display: none;
}

@media (display-mode: standalone) or (display-mode: fullscreen) {
  .Browser {
    display: none;
  }

  .WebApp {
    display: block;
  }
}
